*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-image: url(assets/pexels-heather-green-1125370-18418305.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    max-width: 100%;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal_body {
    width: 350px;
    padding: 20px;
    background-color: #4b176d;
    border: 6px solid #1e0b2b;
    box-shadow: 8px 8px 0 #12071a;
}

.calculator_input {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #d8c7e8;
    color: #241033;
    border: 5px solid #1e0b2b;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    box-shadow: inset 0 0 8px #8b5aa8;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.keys button{
    height:60px;
    background-color: #f3e8ff;
    color: #000;
    border-right: 4px solid gray;
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
.keys button:hover {
    background-color: #e1d5ea;
}
.keys button:active{
    background-color: #e1d5ea;
    transform: translateY(3px);
}
.keys .add,
.keys .subtract,
.keys .multiply,
.keys .divide {
    background-color: #542c78;
    color: #f3e8ff;
}
.keys .calculate {
    background-color: #8c39df;
    color: #241033;
}
.keys .calculate {
    grid-column: 1 / 5;
    grid-row:4;
    background-color: #c084fc;
    color: #241033;
}