*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-image: url(assets/pexels-heather-green-1125370-18418305.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    max-width: 100%;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal_body {
    width: 350px;
    padding: 20px;
    background-color: #4b176d;
    border: 6px solid #1e0b2b;
}